<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--     <add name="mycon" connectionString="Data Source=MANISHAG\SQLEXPRESS;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/> -->
<add name="mycon" connectionString="Data Source=ABHISHEKJ;Initial Catalog=Assessment;Integrated Security=True" providerName="System.Data.SqlClient"/>

    <!-- Adding SOurce for Excel File -->
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=~/Package.dtsx;Extended Properties='Excel 8.0; HDR=YES'"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.SqlServer.ManagedDTS, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>
